{% extends "JekaShopBundle::layout.html.twig"%}

{% block categories%}{%endblock%}

{% block title %}
Контакты
{% endblock%}

{% block body_class %}pages_contacts{%endblock%}

{% block content %}
<h1>Контакты</h1>
<h2>Наши реквизиты</h2>
<pre>
    Индивидуальный предприниматель
    Фомин Евгений Павлович
    Номер счета: 	40802810600000010358
    ИНН:            772502801717

    Реквизиты СБ Банка:
    СБ Банк (ООО)
    ИНН 7723008300
    БИК 044579918
    К/С 30101810600000000918
    в Отделении № 4 Московского ГТУ Банка России
</pre>
<hr/>
<h2 id="form">Форма для контактов</h2>
<form action="{{path('pages_contacts')}}" method="post">
    {{form_rest(form)}}
    <div class="form-actions">
        <button type="submit" class="btn">Отправить</button>
    </div>
</form>
{% endblock content%}