{% extends "JekaShopBundle::layout.html.twig"%}

{% block categories%}{%endblock%}

{% block title %}
Доставка
{% endblock%}

{% block content %}

<h1>Доставка</h1>
<hr/>
<h2>Курьерская доставка по Москве</h2>

<h3>В пределах МКАД.</h3>
<ul>
    <li>Курьерская доставка по будням &mdash; 200 руб.</li>
    <li>Курьерская доставка в выходной &mdash; <span style="color: green;">бесплатно</span></li>
</ul>

<h3>За пределы МКАД.</h3>
<ul>
    <li>Курьерская доставка по будням &mdash; 200 руб. + 30 руб/км от МКАД.</li>
    <li>Курьерская доставка в выходной &mdash; 30 руб/км от МКАД.</li>
</ul>

<h3>Время доставки</h3>
<p>Доставка осуществляется на следующий рабочий день с 10-00 до 19-00, если иной интервал не оговорен с менеджером.</p>

<h2 id="self">Самовывоз</h2>
<p>При самовывозе, товар достовляется к выходу станции метро "Новые черемушки". Уточняйте потробности у менеджера.</p>


<h2>Доставка в регионы</h2>

<p>Доставка товаров в регионы осуществляется через:</p>


<h3>Почта России.</h3>

<p>Максимальный вес товара, отправляемого через почту России, составляет 10 кг.</p>

<!--
EMS Почта России.

Доставка до двери в любой город РФ.
Отправка производится после оплаты стоимости заказа и доставки.
Доставка осуществляется курьером EMS Почта России по адресу клиента с 09-00 до 18-00.
-->

<h3>Транспортная компания.</h3>
<p>Доставка возможна любой транспортной компанией по Вашему выбору. Отправка производится после оплаты стоимости товара
    и доставки по Москве до терминала ТК. При получении заказа Вы оплачиваете стоимость доставки до Вашего города.</p>

{% endblock content%}