{% extends "JekaShopBundle::layout.html.twig"%}

{% block categories%}{%endblock%}

{% block title %}
Доставка
{% endblock%}

{% block content %}
<h1>Доставка</h1>
<p>Доставка осуществляется по будням с 10:00-21:00</p>
{% endblock content%}